{% extends 'base.html.twig' %}

{% block body %}
    <h1>Вы успешно вошли</h1>
    <p>Ссылка подтверждена. Теперь вы можете вернуться в приложение или закрыть вкладку.</p>
    <p>JWT: {{ jwt }}</p>
{% endblock %}
