# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    app.openai.api_key: '%env(OPENAI_API_KEY)%'
    app.openai.embedding_model: '%env(OPENAI_EMBEDDING_MODEL)%'
    app.frontend_base_url: '%env(resolve:FRONTEND_BASE_URL)%'
    app.mailer_from: '%env(resolve:MAILER_FROM)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'
            - '../src/DataFixtures/'

    App\Service\Embedding\EmbeddingClientInterface:
        class: App\Service\Embedding\OpenAIEmbeddingClient
        arguments:
            $openAiApiKey: '%env(OPENAI_API_KEY)%'
            $openAiEmbeddingModel: '%env(OPENAI_EMBEDDING_MODEL)%'

    App\Service\Matching\MatchingEngineInterface:
        class: App\Service\Matching\EmbeddingMatchingEngine

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    Sentry\Monolog\Handler:
        arguments:
            $hub: '@Sentry\State\HubInterface'
            $level: !php/const Monolog\Logger::ERROR
            $bubble: true


