monolog:
    channels:
        - deprecation
        - magic_login

when@dev:
    monolog:
        handlers:
            main:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                channels: ["!event"]
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console"]

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event"]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug

when@prod:
    monolog:
        handlers:
            elastic:
                type: service
                id: App\Logging\ElasticsearchMonologHandler
                level: info
                channels: ["!deprecation", "!http_client"]

            stderr:
                type: stream
                path: php://stderr
                level: info
                formatter: monolog.formatter.json
                channels: ["!deprecation"]

            deprecation:
                type: stream
                channels: [deprecation]
                path: php://stderr
                formatter: monolog.formatter.json
